@use '../variables/variables' as *;

.button {
  font-size: 1.3rem;
  background-color: $color-red;
  padding: 1em;
  border-radius: 0.6em;
  cursor: pointer;
}

@media (min-width: $desktop-min) {

  .button {
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 2.8rem;
  }

}