@use '../variables/variables' as *;

.features {

  
  &-icon {
    width: 100%;
    fill: $color-brown;
  }
  
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 2em;
  }

  &-itemText {
    font-size: 1.2rem;
    max-width: 40ch;
  }
  
  &-iconContainer {
    width: 5em;
  }
}

@media (min-width: $tablet-max) {

  .features-item {
    grid-column: span 4;
    flex-direction: column;
    justify-content: initial;

  }
}