@use '../variables/variables' as *;

.header {

  position: absolute;
  width: 100%;

  &-padding {
    padding: 0 1em;
  }

  &-navItem {
    list-style: none;
  }

  &-nav {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: -90vh;
    right: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;
    opacity: 0.9;
  }

  &-nav ul li {
    padding-bottom: 1em;
    font-size: 3em;
  }

}