@use '../variables/variables' as *;

.hero {
  height: 100vh;
  background-image: linear-gradient($color-brown-opacity 50%, $color-brown),
                    url('../images/hero-bg-mammoth.png');
  background-size: cover;
  background-position: top;

  &-contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    & p {
      font-size: 1.3rem;
      max-width: 50ch;
      text-align: center;
    }
    & h1 {
      text-align: center;
    }
  }

}

@media (min-width: $tablet-max) {

  .hero-contentContainer {
    grid-column: 1/13;
    justify-content: flex-end;
  }

}