@use '../variables/variables' as *;

.hero {
  height: 100vh;
  background-image: linear-gradient($color-brown-opacity 50%, $color-brown),
                    url('../images/hero-bg-mammoth.png');
  background-size: cover;
  background-position: top;

  &-contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

  }

  &-heading {
    text-align: center;
    text-transform: uppercase;
    
  }

  &-text {
    font-size: 1.3rem;
    max-width: 50ch;
    text-align: center;
    text-transform: uppercase;
  }

}

@media (min-width: $tablet-max) {

  .hero-contentContainer {
    grid-column: 1/13;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-min) {

  .hero {
    &-heading {
      font-size: 2.9rem;
    }
    &-text {
      font-size: 2rem;
    }

  }
}