// COLORS

$color-white: #FFFFFF;
$color-gray: #E0E0E0;
$color-gray-dark: #868686;
$color-brown: #783730;
$color-brown-opacity: #78373000;
$color-brown-dark: #64312B;
$color-dark: #44211D;
$color-red: #C62918;

// breakpoints

$tablet-min: 600px;
$tablet-max: 900px;
$desktop-min: 1200px;

